*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/build
/androidApp/build
/.idea
/dependencies/build
/shared/feature/timer/handler/build
/shared/feature/timer/reducer/build
/shared/feature/timer/api/build
/shared/feature/timer/component/build
/shared/feature/timer/di/build
/config/build
/androidUi/build
/shared/appDi/build
/shared/feature/auth/api/build
/shared/feature/auth/di/build
/shared/feature/auth/handler/build
/shared/feature/auth/component/build
/shared/feature/auth/reducer/build
/shared/feature/splash/api/build
/shared/feature/splash/di/build
/shared/feature/splash/handler/build
/shared/feature/splash/component/build
/shared/feature/splash/reducer/build
/shared/common/alertProcessor/build
/shared/source/remote/build
/shared/source/secure/build
/shared/common/utils/build
/shared/common/secured/build
